* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(120deg,rgb(182, 194, 154),brown);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 350px;
    /* height: 530px; */
    /* margin: auto; */
    background-color: white;
    /* margin-top: 80px; */
    border-radius: 4px;
    overflow: hidden;
}

.head{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: rgba(235, 223, 223, 0.849);
    /* height: 70px; */
}

.head h2 {
    /* margin: 20px 10px 0px 10px; */
    padding: 20px;
    text-align: center;
}

.form{
    padding: 20px 30px;
    /* margin: 0px 10px 10px 10px;
    width: 300px;
    border: 2px solid green;
    border-radius: 3px;  */
}

.form-container {
    margin: 10px;
    padding: 20px;
    position: relative;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    outline: none;
    border: 2px solid grey;
}

.form-container i {
    position: absolute;
    right: 10px;
    top: 40px;
    visibility: hidden;
}

.form-container small {
    position: absolute;
    left: 0;
    visibility: hidden;
}

.form button {
    background-color: rgba(0, 0, 255, 0.822);
    color: white;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

.form-container.success input {
    border-color: green;
}

.form-container.error input {
    border-color: red;
}

.form-container.success .fa-check-circle {
    visibility: visible;
    color: green;
}

.form-container.error .fa-exclamation-circle {
    visibility: visible;
    color: red;
}

.form-container.error small {
    visibility: visible;
    color: red;
}